<h1>Pedidos Realizados</h1>
<table class="table table-hover">
     <thead >
       <tr>
         <th>Nome</th>
         <th>Preço</th>
         <th>Quantidade</th>
       </tr>
     </thead>
     <tbody>
       <% @orders.each do |i| %>
         <tr>
           <td><%= i.id %></td>
           <td><%= i.owner_id %></td>
           <td></td>
         </tr>
      <% end %>
    </tbody>
</table>

