<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsum illum, rem necessitatibus quia explicabo vero autem laborum voluptatem reiciendis ut tempora nihil ea alias nemo vitae consequatur eius, asperiores.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nisi alias eius mollitia laudantium repellat omnis et aliquam, in error commodi, blanditiis ipsa aliquid fuga suscipit minima! Quos, sapiente, doloremque.</p>
  <p class="lead">
    
    <%= link_to 'Não Aperte',pages_troll_path,class: "btn btn-primary btn-lg",role: "button" %>
  </p>