
<div class="jumbotron">
  <h1 class="display-3" align="center">Welcome to Dinner Dash 1</h1>
  <% if logged_in? %>
	<%= render 'lorem' %>
  <% else %>
  <div class="container"><%= render 'login' %>
	<% end %>
	</div>
</div>