<div class="jumbotron">
  <h1 class="display-3">Projeto Final do PT da CJR</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ipsum illum, rem necessitatibus quia explicabo vero autem laborum voluptatem reiciendis ut tempora nihil ea alias nemo vitae consequatur eius, asperiores.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nisi alias eius mollitia laudantium repellat omnis et aliquam, in error commodi, blanditiis ipsa aliquid fuga suscipit minima! Quos, sapiente, doloremque.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Não aperte</a>
  </p>
</div>