
<table class="table table-hover">
     <thead >
       <tr>
         <th>Nome</th>
         <th>Preço</th>
         <th>Quantidade</th>
       </tr>
     </thead>
     <tbody>
       <% @products.each do |product| %>
         <tr>
           <td><%= product.name %></td>
           <td>R$ <%= product.price %></td>
            <td><%= number_field_tag 'quantity','1',min: 1,class: "center",min: 1%></td>
           <td><%=link_to 'Adicionar ao Carrinho',{:controller => "carts", :action => "addtocart",:product => product.id,:quantity => 1},class: "btn btn-primary" %></td>
         </tr>
      <%end%>
    </tbody>
 </table>

