
<table class="table table-hover">
     <thead >
       <tr>
         <th>Nome</th>
         <th>Preço</th>
         <th>Descrição</th>
       </tr>
     </thead>
     <tbody>
       <% @products.each do |product| %>
         <tr>
           <td><%= product.name %></td>
           <td>R$ <%= '%.2f'%(product.price) %></td>
            <td><%= product.description %></td>
           <td><%=link_to 'Adicionar ao Carrinho',{:controller => "carts", :action => "addtocart",:product => product.id,:cart => current_cart,:quantity => 1},class: "btn btn-primary" %></td>
         </tr>
      <%end%>
    </tbody>
 </table>

