<h1>Pesquisa</h1>
<table class="table table-hover">
     <thead >
       <tr>
         <th>Nome</th>
         <th>Preço</th>
         
       </tr>
     </thead>
     <tbody>
       <% @products.each do |product| %>
         <tr>
           <td><%= product.name %></td>
           <td>R$ <%= product.price %></td>
         </tr>
      <%end%>
    </tbody>
 </table>
<%= link_to 'Voltar',products_path,class: "btn btn-primary" %>